*{
    margin: 0px;
    padding: 0;
}
body{
    background-color: slateblue;
    margin: 10px;
    padding: 15px;
}
p{
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-style: oblique;
    font-size: 15px;
    text-align: justify;
}
p b{
    color: darkblue;
}